.App {
  text-align: center;
  background-color: gray;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: aquamarine;
}

.Header-container{
  position: relative;
  width: 100%;
  height: 10vh;

  background-color: aquamarine;
  color: black;
  top: 0px;
  left: 0px;
  display: grid;
  align-items: center;
  grid-template-columns: 31% 23% 23% 23%;
}

.Header-container > *{
  user-select: none;
}
.Header-link:hover{
  background-color: rgb(90, 185, 154);
}

.Header-title{
  font-size: 6vh;
  font-weight: bold;
}

.Header-link{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
}

.Footer-container{
  position: bottom;
  width: 100vw;
  height: 10vh;

  background-color: aquamarine;
  color: black;
  bottom:auto;
  left: 0vw;

}


.grid{
  display: grid;
  margin-top: 10px;
  grid-template-columns: 30% 50% 15%;
  grid-gap: 1%;
  row-gap: 1%;
}


.hidden {
  display: none;
}


.Login{
  background-color: rgb(71, 71, 71);
  padding: 10px;
  border-radius: 10px;
  border: 10px;
  width: 250px;
  height: 350px;
  position: sticky;
  
}

.Logintext{
  font-size: 6vh;
  width: 10wv;
}

.logintext{
  font-size: 2vh;
  
}

.Submit{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  color: rgb(1, 10, 7);
  font-size: medium;
  background-color: white;
}

.Submit:hover{
  background-color: aquamarine
}

.rememberme{
  font-size: 20px;
}
.rememberbox{
  width: 15px;
  height: 15px;
}

.hello{
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;

}
.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.hello:hover {
  color: blue;
  
}

.hello:hover .dropdown{
  display:block;
}

.Body {

  color: black;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
}

.Body-text{
  font-size: 15px;
  text-align: left;

}